<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>commanded</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:23:49Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>commanded</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>commanded</string>
				</dict>
			</dict>
			<key>commanded_ecto_projections</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:23:50Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>commanded_ecto_projections</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>commanded_ecto_projections</string>
				</dict>
			</dict>
			<key>commanded_eventstore_adapter</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:23:52Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>commanded_eventstore_adapter</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>commanded_eventstore_adapter</string>
				</dict>
			</dict>
			<key>credo</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:24:03Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>credo</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>credo</string>
				</dict>
			</dict>
			<key>ecto</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:23:37Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ecto</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>ecto</string>
				</dict>
			</dict>
			<key>ecto_sql</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:23:42Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ecto_sql</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>ecto_sql</string>
				</dict>
			</dict>
			<key>faker</key>
			<dict>
				<key>date</key>
				<date>2022-08-04T14:46:28Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>faker</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>faker</string>
				</dict>
			</dict>
			<key>floki</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:24:27Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>floki</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>floki</string>
				</dict>
			</dict>
			<key>gen_stage</key>
			<dict>
				<key>date</key>
				<date>2022-08-08T21:05:06Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>gen_stage</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>gen_stage</string>
				</dict>
			</dict>
			<key>gettext</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:24:34Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>gettext</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>gettext</string>
				</dict>
			</dict>
			<key>jason</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:24:40Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>jason</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>jason</string>
				</dict>
			</dict>
			<key>let_me</key>
			<dict>
				<key>date</key>
				<date>2022-08-04T18:39:03Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>let_me</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>let_me</string>
				</dict>
			</dict>
			<key>phoenix</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:23:14Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix</string>
				</dict>
			</dict>
			<key>phoenix_ecto</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:23:14Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix_ecto</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix_ecto</string>
				</dict>
			</dict>
			<key>phoenix_html</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:23:18Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix_html</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix_html</string>
				</dict>
			</dict>
			<key>phoenix_live_view</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:23:22Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix_live_view</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix_live_view</string>
				</dict>
			</dict>
			<key>phoenix_pubsub</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:23:24Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix_pubsub</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix_pubsub</string>
				</dict>
			</dict>
			<key>plug</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:24:47Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>plug</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>plug</string>
				</dict>
			</dict>
			<key>plug_cowboy</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:24:48Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>plug_cowboy</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>plug_cowboy</string>
				</dict>
			</dict>
			<key>postgrex</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:24:23Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>postgrex</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>postgrex</string>
				</dict>
			</dict>
			<key>tesla</key>
			<dict>
				<key>date</key>
				<date>2022-08-08T15:40:13Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>tesla</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>tesla</string>
				</dict>
			</dict>
			<key>typed_struct</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:24:54Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>typed_struct</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>typed_struct</string>
				</dict>
			</dict>
			<key>ueberauth</key>
			<dict>
				<key>date</key>
				<date>2022-08-04T14:49:54Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ueberauth</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>ueberauth</string>
				</dict>
			</dict>
			<key>vex</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:23:59Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>vex</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>vex</string>
				</dict>
			</dict>
			<key>websockex</key>
			<dict>
				<key>date</key>
				<date>2022-08-08T20:31:57Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>websockex</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>websockex</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Tailwind_CSS</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:23:03Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>tailwind</string>
						<string>TailwindCSS</string>
						<string>tailwind CSS</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Tailwind_CSS#readme</string>
					<key>authorLinkText</key>
					<string>Ben Booth, Guill Lo</string>
					<key>name</key>
					<string>Tailwind CSS</string>
					<key>platform</key>
					<string>usercontribTailwind_CSS</string>
					<key>uniqueIdentifier</key>
					<string>Tailwind_CSS</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>actuallyDarkWebView</key>
	<true/>
	<key>annotationsAreShown</key>
	<false/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/DocSets/JavaScript/JavaScript.docset</key>
			<string>js:</string>
			<key>~/Library/Application Support/Dash/DocSets/Man_Pages/Man Pages.docset</key>
			<string>man:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/commanded/commanded.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/commandedectoprojections/commanded_ecto_projections.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/commandedeventstoreadapter/commanded_eventstore_adapter.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/credo/credo.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/ecto/ecto.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/ectosql/ecto_sql.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/faker/faker.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/floki/floki.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/genstage/gen_stage.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/gettext/gettext.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/jason/jason.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/letme/let_me.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/phoenix/phoenix.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/phoenixecto/phoenix_ecto.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/phoenixhtml/phoenix_html.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/phoenixliveview/phoenix_live_view.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/phoenixpubsub/phoenix_pubsub.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/plug/plug.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/plugcowboy/plug_cowboy.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/postgrex/postgrex.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/tesla/tesla.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/typedstruct/typed_struct.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/ueberauth/ueberauth.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/vex/vex.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/websockex/websockex.docset</key>
			<string>ex</string>
			<key>~/Library/Application Support/Dash/Versioned DocSets/Elixir - DHDocsetDownloader/1-13-4/Elixir.docset</key>
			<string>ex:</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:21:13Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:21:45Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:21:56Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Man_Pages.xml</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:22:05Z</date>
			</dict>
			<key>http://kapeli.com/feeds/TypeScript.xml</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:22:47Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/PostgreSQL.xml</key>
			<dict>
				<key>date</key>
				<date>2022-08-02T17:22:19Z</date>
			</dict>
		</dict>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<false/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Elixir &amp; Hex</string>
			<key>searchSnippets</key>
			<false/>
		</dict>
	</array>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<false/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Elixir.xml</key>
			<dict>
				<key>1.13.4</key>
				<dict>
					<key>date</key>
					<date>2022-08-02T17:21:19Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/Erlang.xml</key>
			<dict>
				<key>25.0</key>
				<dict>
					<key>date</key>
					<date>2022-08-02T17:21:28Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/PostgreSQL.xml</key>
			<dict>
				<key>14.4</key>
				<dict>
					<key>date</key>
					<date>2022-08-02T17:22:26Z</date>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
</dict>
</plist>
